services:
  cloudlabmanager:
    build:
      dockerfile: Dockerfile
    platform: linux/amd64 

    ports: 
      - 8000:8000

    environment:
      HOST_HOSTNAME: "jakesmac"


    container_name: cloud-lab-manager

    #restart: unless-stopped
    restart: no

    volumes:
      - ./data:/data
      - ../cloudlabsettings:/app/cloudlabsettings